In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')

In [6]:
theme_df=pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

In [19]:
merged_df=df.merge(theme_df , left_on='parent_theme'  , right_on='name')

In [20]:
merged_df.drop(columns=['parent_theme'] , inplace=True)

In [24]:
merged_df.rename(columns={'name_y' : 'parent_theme'} , inplace=True)

In [26]:
merged_df.to_csv('Lego Dataset.csv')

In [27]:
all_data=merged_df.copy()

In [30]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name_x        11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   id            11986 non-null  int64
 6   parent_theme  11986 non-null  object
 7   is_licensed   11986 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(4)
memory usage: 667.3+ KB

In [31]:
all_data.isnull().sum()

set_num          153
name_x           153
year               0
num_parts       5060
theme_name       153
id                 0
parent_theme       0
is_licensed        0
dtype: int64

In [32]:
all_data[all_data['set_num'].isnull()]

,set_num,name_x,year,num_parts,theme_name,id,parent_theme,is_licensed
5827,NaN,NaN,2017,304.0,NaN,482,Super Heroes,True
5828,NaN,NaN,2017,196.0,NaN,482,Super Heroes,True
5829,NaN,NaN,2014,NaN,NaN,482,Super Heroes,True
5830,NaN,NaN,2013,16.0,NaN,482,Super Heroes,True
5831,NaN,NaN,2013,NaN,NaN,482,Super Heroes,True
...,...,...,...,...,...,...,...,...
10274,NaN,NaN,2015,518.0,NaN,577,Minecraft,True
10275,NaN,NaN,2016,NaN,NaN,577,Minecraft,True
10276,NaN,NaN,2017,502.0,NaN,577,Minecraft,True
10277,NaN,NaN,2014,NaN,NaN,577,Minecraft,True
10278,NaN,NaN,2017,NaN,NaN,577,Minecraft,True

In [34]:
all_data=all_data.dropna(subset=['set_num'])

In [37]:
licensed=all_data[all_data['is_licensed']==True]

In [38]:
licensed.shape

(1179, 8)

In [44]:
startwars_theme=all_data[all_data['parent_theme']=='Star Wars']

In [49]:
sw_liscended_percent=int((startwars_theme.shape[0]/licensed.shape[0])*100)

In [50]:
all_data

,set_num,name_x,year,num_parts,theme_name,id,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,411,Legoland,False
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,270,Ben 10,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,270,Ben 10,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,270,Ben 10,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,270,Ben 10,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,270,Ben 10,True